.left_border{
    background: #ffffff;
    position: absolute;
    left: 0%;
    
    top: 0%;
    bottom: 0%;
    border: 10px solid red;
    
    width: 6%;
    
}

.logo{
    width: 50%; 
    height: 50%;
    position: absolute;

}